@using Microsoft.AspNetCore.Identity
@using blazor_boilerplate.Data

@inject SignInManager<ApplicationUser> SignInManager

<nav class="account-manage-menu">
    <NavLink class="account-manage-link" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    <NavLink class="account-manage-link" href="Account/Manage/Email">Email</NavLink>
    <NavLink class="account-manage-link" href="Account/Manage/ChangePassword">Password</NavLink>
    @if (hasExternalLogins)
    {
        <NavLink class="account-manage-link" href="Account/Manage/ExternalLogins">External logins</NavLink>
    }
    <NavLink class="account-manage-link" href="Account/Manage/TwoFactorAuthentication">Two-factor authentication</NavLink>
    <NavLink class="account-manage-link" href="Account/Manage/Passkeys">Passkeys</NavLink>
    <NavLink class="account-manage-link" href="Account/Manage/PersonalData">Personal data</NavLink>
</nav>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
