@inherits LayoutComponentBase
@layout blazor_boilerplate.Client.Layout.MainLayout

<RadzenText TextStyle="TextStyle.H1" TagName="TagName.H1">Manage your account</RadzenText>

<section class="account-page">
    <RadzenText TextStyle="TextStyle.H2" TagName="TagName.H2">Change your account settings</RadzenText>
    <hr />
    <div class="account-manage-grid">
        <div>
            <ManageNavMenu />
        </div>
        <div>
            @Body
        </div>
    </div>
</section>
