@page "/counter"

<PageTitle>Counter</PageTitle>

<RadzenText TextStyle="TextStyle.H1" TagName="TagName.H1">Counter</RadzenText>

<p role="status">Current count: @currentCount</p>

<RadzenButton Text="Click me" Icon="add" Click="IncrementCount" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
