@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="account-validation">Access denied</h1>
    <p class="account-validation">You do not have access to this resource.</p>
</header>
