@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<header>
    <h1 class="account-validation">Locked out</h1>
    <p class="account-validation" role="alert">This account has been locked out, please try again later.</p>
</header>
